.heading {
    width: 100%;
    text-align: left;
}

.heading h3 {
    display: inline;
}

.heading button {
    float: right;
    border: 1px solid white;
}


#start,#status,#restart{
    font-size: 22px;
}
body{
    text-align: center;
}
  
    .modal-dialog{
    width: 70%;
 }
   #copy_right_footer{
    bottom: 0px;
    text-align: center;
    color: aliceblue;
    background-color: green;
    position: fixed;
    width: 100%;
    line-height: 3;
   }

   canvas 
  {
      border:3px solid white;
      border-radius: 20px;
      box-shadow:  5px 5px 5px white;
  }

